<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="communitySidebar(activeCategory)">
	<aside class="comm-side">
		<div class="comm-side-title">커뮤니티</div>

		<nav class="comm-side-nav">
			<a th:href="@{/community}" th:classappend="${activeCategory == 'ALL'} ? 'is-active' : ''">전체글</a>
			<a th:href="@{/community/guide}" th:classappend="${activeCategory == 'GUIDE'} ? 'is-active' : ''">공지사항</a>
			<a th:href="@{/community/free}" th:classappend="${activeCategory == 'FREE'} ? 'is-active' : ''">자유 게시판</a>
			<a th:href="@{/community/info}" th:classappend="${activeCategory == 'INFO'} ? 'is-active' : ''">정보 공유</a>
			<a th:href="@{/community/boast}" th:classappend="${activeCategory == 'BOAST'} ? 'is-active' : ''">자랑 하기</a>
			<a th:href="@{/community/qna}" th:classappend="${activeCategory == 'QNA'} ? 'is-active' : ''">질문 &amp; 답변</a>
		</nav>
	</aside>
</th:block>

</body>
</html>