<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layouts/main_layout}">
<th:block layout:fragment="content">

	<link rel="stylesheet" th:href="@{/css/hospital/hospital.css}"/>

	<main class="hos-page">
		<section class="hos-shell">
			<div class="hos-bg"></div>
			
			<!-- LEFT -->
			<div class="hos-left card">
				<div class="hos-search">
					<div class="search-box">
						<i class="bi bi-search"></i>
						<input id="q" type="text" placeholder="동물병원 이름 검색">
					</div>
					<button id="btnSearch" class="btn btn-search">검색</button>
				</div>

				<div class="hos-count">
					<span id="modeText">내 주변 동물병원</span> <span id="totalCount">0</span>개
					<span id="pageInfo" class="page-info"></span>
				</div>

				<div id="list" class="hos-list"></div>

				<div class="hos-paging">
					<button class="pg-btn" id="prevBtn">◀</button>
					<div id="pages" class="pg-pages"></div>
					<button class="pg-btn" id="nextBtn">▶</button>
				</div>
			</div>

			<!-- RIGHT -->
			<div class="hos-right">
				<div class="card hos-detail">
					<div class="detail-top">
						<div>
							<div id="detailName" class="detail-name">병원을 선택하세요</div>
							<div class="detail-sub">
								<span id="detailDist">-</span>
								<span class="detail-sep">|</span>
								전화번호 <span id="detailTel">-</span>
								<button id="btnRoute" class="btn-route" type="button" disabled>길찾기</button>
								<button id="btnSearchHere" class="btn-route" type="button" disabled>이 위치에서 검색</button>
							</div>
						</div>
					</div>
					
					<div id="map" class="hos-map">
						<div id="mapLoading" class="map-loading is-hidden">
							<div class="spinner"></div>
							<div class="txt">지도를 불러오는 중...</div>
						</div>
					</div>
				</div>
			</div>

		</section>
	</main>

	<!-- 카카오맵 SDK: appkey는 JS 키 -->
	<script th:src="'https://dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${@environment.getProperty('kakao.js.key')}"></script>
	
	<script th:src="@{/js/hospital/hospital.js}"></script>
</th:block>
</html>